<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线错题系统</title>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/elementui/index.js}"></script>
    <link rel="stylesheet" th:href="@{/css/elementui/index.css}">
    <script th:src="@{/js/axios.js}"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/c/font_3976993_tchrl6iqwv.css">
    <link rel="stylesheet" th:href="@{/css/userindex-topbar.css}">
    <style>




        .el-aside {
            background-color: #ffffff;
            color: #000000;
            height: 685px;
            font-family: '宋体';
            /*border: #3a8ee6 1px solid;*/
        }

        .el-submenu__title, .el-dropdown-menu__item, .el-menu-item {
            font-size: 18px;
        }

        .el-main {
            background-color: #f3f4f7;;
            color: #000000;
            height: 685px;
            overflow: hidden;
        }

        * {
            margin: 0;
            /* padding: 0;*/
        }


        .c_iframe {
            background-color: white;
            height: 685px;
            color: black;
        }

        .menu {
            height: 685px;
            color: black;
            overflow: hidden;
        }

        .pageScroll {
            height: 100%;
            width: 100%;
        }

        .page-scroll .el-scrollbar__wrap {
            overflow-x: hidden;
        }

    </style>

</head>

<body>
<div id="app">
    <div class="header">
        <nav class="nav-container">
            <div class="nav-left">
                <img class="logo" th:src="@{/img/logo.png}"/>
            </div>
            <ul class="nav-main">
                <li class="main-item">
                    <a th:href="@{/user/index}">首页</a>
                </li>
                <li class="main-item item-menu">
                    <a href="#">个人中心</a>
                    <div class="division"></div>
                    <!--弹出层-->
                    <ul class="article secondaryMenu">
                        <li>
                            <a href="#"><i class="iconfont icon-biaoqian"></i></i>修改密码</a>
                        </li>
                        <li>
                            <a href="#"></i><i class="iconfont icon-boke"></i>个人资料</a>
                        </li>
                        <li>
                            <a href="#"><i class="iconfont icon-icon-test"></i>上传头像</a>
                        </li>
                    </ul>
                </li>
                <li class="main-item item-menu">
                    <a href="#">新建题库</a>

                </li>
                <li class="main-item item-menu">
                    <a href="#">小组信息</a>
                </li>
                <li class="main-item">
                    <a href="#">Github</a>
                </li>
                <li class="main-item">
                    <a href="#">Gitee</a>
                </li>
            </ul>

            <div class="nav-right" th:if="${session.user}==null">
                <li class="main-item">
                    <a th:href="@{/tologin}">登录/注册</a>
                </li>
            </div>

            <div class="nav-right" th:if="${session.user}!=null">
                <li class="user-avatar">
                    <img class="avatar" th:src="@{/img/avatar.jpg}"/>
                </li>
            </div>
        </nav>
    </div>
    <el-container>
        <el-aside width="200px">
            <el-menu
                    :default-active="defAct"
                    :unique-opened="false"
                    :collapse-transition="false"
                    class="menu"
                    background-color="#ffffff"
                    color="black"
                    active-text-color="rgb(0, 204, 126)"
            >
                <div v-for="item in menuList" :key="item.id">
                    <el-submenu :index="item.id" v-if="item.lists&&item.lists.length>0"
                                @click="menuHandle(title,false)">
                        <template slot="title">
                            <i :class="item.class"></i>
                            <span>{{ item.name }}</span>
                        </template>
                        <el-menu-item class="title2" v-for="list in item.lists" :key="list.id" :index="list.id"
                                      @click="menuHandle(list,false)">
                            <i :class="list.class"></i>
                            <span slot="title">{{ list.title }}</span>
                        </el-menu-item>
                    </el-submenu>
                    <el-menu-item v-else :index="item.id" @click="menuHandle(item,false)">
                        <i :class="item.class"></i>
                        <span slot="title">{{ item.name }}</span>
                    </el-menu-item>
                </div>
                <el-menu-item>
                    <i class="icon-tuichudenglu1 iconfont"></i>
                    <a @click="logout()" id="logout" slot="title">退出登录</a>
                </el-menu-item>
            </el-menu>
        </el-aside>
        <el-scrollbar class="pageScroll">
            <el-main>
                <div class="main-container" style="z-index: 10; position: relative;">
                    <div class="app-main" v-loading="loading">
                        <div class="divTmp" v-show="loading"></div>
                        <iframe
                                id="cIframe"
                                class="c_iframe"
                                name="cIframe"
                                :src="iframeUrl"
                                width="100%"
                                height="100%"
                                v-show="!loading"

                        ></iframe>
                    </div>
                </div>
            </el-main>
        </el-scrollbar>
    </el-container>
</div>
<!--下雪-->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->
<!--<script src="http://www.lmlblog.com/winter/templets/xq/js/snowy.js"></script>-->
<!--<style type="text/css">-->
<!--    .snow-container {-->
<!--        position: fixed;-->
<!--        top: 0;-->
<!--        left: 0;-->
<!--        width: 100%;-->
<!--        height: 100%;-->
<!--        pointer-events: none;-->
<!--        z-index: 100001;-->
<!--    }-->
<!--</style>-->
<!--<div class="snow-container"></div>-->
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                defAct: '1',
                menuActived: '1',
                menuList: [
                    {
                        id: '1',
                        name: '错题集',
                        class: 'icon-chakan iconfont',
                        url: '/user/page',
                    },
                    {
                        id: '2',
                        name: '重做错题',
                        class: 'icon-zhongxinpingjuan iconfont',
                        url: '/user/page',
                    },
                    {
                        id: '3',
                        name: '错题测试',
                        class: 'icon-ceshi iconfont',
                        url: '/user/test',
                    }
                ],
                iframeUrl: '/user/note',
                goBackFlag: false,
                loading: false,
                timer: null
            }
        },
        mounted() {
            window.menuHandle = this.menuHandle
        },
        methods: {
            logout() {
                this.$confirm('确定退出登录吗', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    window.location.href = 'http://localhost/user/logout';
                }).catch(() => {
                    //用户点击取消按钮
                    this.$message({
                        type: 'info',
                        message: '已取消退出'
                    });
                });
            },
            goBack() {
                const menu = this.menuList.find(item => item.id === this.menuActived)
                this.menuHandle(menu, false)
            },
            menuHandle(item, goBackFlag) {
                this.loading = true
                this.menuActived = item.id
                this.iframeUrl = item.url
                this.goBackFlag = goBackFlag
                this.closeLoading()
            },
            closeLoading() {
                this.timer = null
                this.timer = setTimeout(() => {
                    this.loading = false
                }, 1000)
            }
        }
    })
</script>
</body>

</html>