body{
    background-image: url('/img/login_bg.jpg');
    /*background-color: #211f1f;*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}


.container{
    height: 600px;
    margin: 0 auto;
    margin-top: 200px;
}


#login,#regist{

    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 320px;
    width: 100%;
    opacity: 1;
    transition: all 1s linear;
}

#regist{
    display: none;
    opacity: 0;
    transition: all 1s linear;
}

h1{
    text-align: center;
    font-size: 30px;
}

.model{
    border-bottom: 2px solid #b0c1e0;
}

.model_text{
    display: inline-block;
    color: #4CAF50;
    font-size: 14px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: -2px;
    height: 40px;
    width: 65px;
    border-bottom: #4CAF50 2px solid;
    margin-right: 20px;
}

.regist-errorMsg,.login-errorMsg{
    font-size: 14px;
    font-weight: 500;
    color: red;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    background-color: #4CAF50;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
}


#toRegist,#toLogin{
    float: right;
    line-height: 30px;
    cursor: pointer;
    color: #4CAF50;
}




#code{
    width: 50%;
    margin-right: 15px;
}

#code_img{
    width: 139px;
    height: 41.5px;
    transform: translateY(16px);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


