<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/index.css}">
	<script th:src="@{/js/axios.js}"></script>

</head>
<body>

<div class="container">
	<div id="login">
		<h1>在线考试系统</h1>
		<div class="model">
			<div class="model_text">
				用户登录
			</div>
		</div>
		<form th:action="@{/userLoginSuccess}" method="post">
			<input type="text" placeholder="请输入用户名" name="username" required><br>
			<input type="password" placeholder="请输入密码" name="password" required>
			<button type="submit" id="login_bt">登录</button><br>
		</form>
		<div id="toRegist">
			<a id="regist_button">去注册</a>
		</div>
	</div>


	<div id="regist">
		<h1>在线考试系统</h1>
		<div class="model">
			<div class="model_text">
				用户注册
			</div>
		</div>
		<form th:action="@{/userRegistSuccess}" method="post">
			<input type="text" placeholder="请输入用户名" name="username" required><br>
			<input type="password" placeholder="请输入密码" name="password" required>
			<button type="submit" id="regist_bt">注册</button><br>
		</form>
		<div id="toLogin">
			<a id="login_button">已有账号？</a>
		</div>
	</div>

</div>
<script>

	var registButton = document.getElementById('regist_button');
	var loginButton = document.getElementById('login_button');

	var login = document.getElementById('login');
	var regist = document.getElementById('regist');

	registButton.addEventListener('click',()=>{
		login.style.display = "none";
		regist.style.display = "block";
	});

	loginButton.addEventListener('click',()=>{
		regist.style.display = "none";
		login.style.display = "block";

	});

</script>
</body>
</html>