<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxg.exams.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.lxg.exams.bean.Question">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="CHAR"/>
            <result property="optionA" column="optionA" jdbcType="CHAR"/>
            <result property="optionB" column="optionB" jdbcType="CHAR"/>
            <result property="optionC" column="optionC" jdbcType="CHAR"/>
            <result property="optionD" column="optionD" jdbcType="CHAR"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="types" column="types" jdbcType="INTEGER"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="isdeleted" column="isDeleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,optionA,
        optionB,optionC,optionD,
        answer,types,image,
        remark,uid,isDeleted
    </sql>
    <select id="getAllByIdQuestion" resultType="com.lxg.exams.bean.Question"></select>
</mapper>
